<%= form_for([@server, @cable]) do |f| %>
    <% if @cable.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@cable.errors.count, "error") %> prohibited this cable from being saved:</h2>

          <ul>
            <% @cable.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <!--<div class="field">-->
      <!--<%= f.label :server_id %>-->
      <!--<br/>-->
      <!--<%= f.select :server_id, Server.find(:all, :order => "name").collect { |server| [server.name, server.id] } %>-->
    <!--</div>-->
    <div class="field">
      <%= f.label :to_end %>
      <br/>
      <%= f.text_field :to_end %>
    </div>
    <div class="field">
      <%= f.label :from_nic %>
      <br/>
      <b>NIC </b> <%= f.number_field :from_nic, in: 1..16 %>
    </div>
    <div class="field">
      <%= f.label :to_nic %>
      <br/>
      <%= f.text_field :to_nic %>
    </div>
    <div class="field">
      <%= f.label :color %>
      <br/>
      <%= f.select :color, ["Yellow", "Red", "Blue"] %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
