<div class="row-fluid">
  <table class="table">
    <% if notice != nil %>
        <div class="alert alert-success">
          <%= notice %>
        </div>
    <% end %>


    <tr>
      <td><b>Image:</b></td>
      <td>
        <% if @server.has_image? %>
            <%= image_tag @server.image_path, size: "300x200", id: "pic" %>
        <% else %> No image!
        <% end %>
      </td>
    </tr>

    <tr>
      <td><b>Server_Name:</b></td>
      <td> <%= @server.name %>  </td>
    </tr>

    <tr>
      <td><b>QR_code:</b></td>
      <td><%= @server.QR_code %> </td>
    </tr>

    <tr>
      <td><b>IP:</b></td>
      <td><%= @server.IP %> </td>
    </tr>

    <tr>
      <td><b>IDR:</b></td>
      <td><%= @server.IDR %> </td>
    </tr>

    <tr>
      <td><b>CPU:</b></td>
      <td><%= @server.CPU %>  </td>
    </tr>

    <tr>
      <td><b>RAM:</b></td>
      <td><%= @server.RAM %></td>
    </tr>

    <tr>
      <td><b>Storage:</b></td>
      <td><%= @server.Storage %> </td>
    </tr>

    <tr>
      <td><b>MAC:</b></td>
      <td> <%= @server.MAC %></td>
    </tr>
    <tr>
      <% qr_url = 'http://0.0.0.0:3000/servers/'+params[:id] %>
      <%= image_tag goqr(data: qr_url, size: '64x64') %>  </br></br>
    </tr>

  </table>

  <% if current_user %>
      <%= render 'servers/admin_show' %>
  <% else %>
      <%= render 'servers/public_show' %>
  <% end %>
</div>






